/* Fuente de letra  */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* ventana modal */

.modal-content{ /* modificamos el color de fondo de la ventana */
    background: #ffffff00;
    border: 0;
    z-index: 0;
}
.modal-header{

    border-bottom:0;
}
.btn-close{
    background-color: #fffffffd;
    z-index: 0;
}

/* formulario  */
.formRegistro{
    background-color: white;
    margin: 30px auto;
    border-radius: 5px;
    /* box-shadow: 0 0 20px 0 #00000033, 0 5px 5px 0 #0000003d; */
    width: 95%;
    padding: 2.5rem 0;
}
.formRegistro input{
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.9em 0.5em;
    background: #f2f2f2;
    border: 0;
    width: 75%;
    color: var(--secundario);
}
.botonRegistro{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: 0;
    background: #4CAF50;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    width: 75%;
    font-size: 14px;
}
.botonRegistro:hover{
    background: #43A047;
}
p{
    display: flex;
    justify-content: center;
}
.message {
    margin: 15px 0 0;
    color: var(--secundario);
    font-size: 12px;
}
.message a{
    color: #4CAF50;
    text-decoration: none;
    margin-left: 10px;
}